* {
    margin: 0;
    font-family: sans-serif;
}
.p1 {
    display: flex;
    gap: 15px;
}
.p2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
        background: linear-gradient(123.49deg, #FF4029 0.57%, #F02228 104.89%);

}

.p4 {
    padding: 20px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}
.p5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
            background: linear-gradient(123.49deg, #FF4029 0.57%, #F02228 104.89%);
            color: white;

}
.p6 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.p7 {
   margin-left: 550px;
   padding: 20px;
   background-color: yellow;
   color: white;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 30px;
   border: none;
   width: 250px;
}
.p8 {
    display: flex;
    justify-content: space-around;
}
.p9 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}
.p10 {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: red;
    color: white;
    align-items: center;
}
.p11 {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 80px;
padding: 50px;
background-color: rgb(209, 162, 178);


}
.p12 {
    display: flex;
    justify-content: center;
    background-color:rgb(209, 162, 178) ;
    gap: 80px;
    align-items: center;
    padding-bottom: 50px;
}
h4 {
    font-size: 20px;
    color: red;
}
.p13 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

}
.p14 {
    text-align: center;
    color: white;
    height: 300px;
    background: linear-gradient(262.18deg, #FFB737 -0.11%, #FFBE4B 97.74%);
padding-top: 50px;
}
.p15 {
    position: absolute;
    top: 1500px;
    left: 150px;
}
.p16 {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: red;
    justify-content: space-around;
    margin-top: 60px;
}
.p17 {
    display: flex;
    justify-content: space-around;
   
    padding: 80px;
    background-color: #202329;
    color: white;
}
input {
    padding: 20px;
    background-color: rgb(151, 129, 129);
    border-radius: 15px;
}