* {
    margin: 0;
    font-family: sans-serif;
}
.p1 {
    display: flex;
    gap: 15px;
}
.p2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
        background: linear-gradient(123.49deg, #FF4029 0.57%, #F02228 104.89%);

}

.p4 {
    padding: 20px;
    border-radius: 20px;
    border: 3px solid white;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}
.p5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
            background: linear-gradient(123.49deg, #FF4029 0.57%, #F02228 104.89%);
            color: white;

}
.p6 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
